In [2]:
#pandas series is like a one-dimensional array
# with labeled indices.
# It can hold any data type, including integers, floats, strings, and even Python objects.
# To create a Series, you can use the pd.Series() constructor.

import pandas as pd
ser = pd.Series()
print(ser)           

print(type(ser))      # <class 'pandas.core.series.Series'>
#<class 'pandas.core.series.Series'>

Series([], dtype: object)
<class 'pandas.core.series.Series'>

In [3]:
import numpy as np
import pandas as pd
#numpy array to pandas series
# You can convert a NumPy array to a Pandas Series by passing the array to the pd.Series() constructor.
data = np.array(['a', 'b', 'c', 'd', 'e'])
ser = pd.Series(data)
print(ser)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [4]:
#creating a series from a list
import pandas as pd
data1 = ['agnes' , 'sebabe', 'abdu', 'dave']
ser1 = pd.Series(data1)
print(ser1)

0     agnes
1    sebabe
2      abdu
3      dave
dtype: object

In [6]:
#create a series from a dictionary
import pandas as pd
data2 = {'name': 'Ssebabe', 'age': 25, 'city': 'Arua'}
ser2 = pd.Series(data2)
print(ser2)

name    Ssebabe
age          25
city       Arua
dtype: object

In [10]:
#some functions in series
import pandas as pd 
ser = pd.Series(range(5,15))
print(ser)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64

In [12]:
#numpy.linespace
ser1 = pd.Series(np.linspace(1, 10, 5))
print(ser1)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [13]:
#numpy linespace()
ser1 = pd.Series(np.linspace(1, 10, 5))
print(ser1)

0     1.00
1     3.25
2     5.50
3     7.75
4    10.00
dtype: float64

In [15]:

import pandas as pd
ser1 = pd.Series([4, 65, 436, 3, 9])
ser2 = pd.Series([7, 0, 3, 897, 9])
comparison = ser1 > ser2
print(comparison)

0    False
1     True
2     True
3    False
4    False
dtype: bool

In [16]:
#2.	Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
#Sample Series: [2,4,6,8,14], [1,3,5,7,9]
import pandas as pd
ser1 = pd.Series([2, 4, 6, 8, 14])
ser2 = pd.Series([1, 3, 5, 7, 9])
# Addition
addition = ser1 + ser2
# Subtraction
subtraction = ser1 - ser2
# Multiplication
multiplication = ser1 * ser2
# Division
division = ser1 / ser2
print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)

Addition:
 0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtraction:
 0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiplication:
 0      2
1     12
2     30
3     56
4    126
dtype: int64
Division:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [17]:
#3.	Write a Pandas program to convert a dictionary to a Pandas series. 
#Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}
import pandas as pd
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}
ser3 = pd.Series(dictionary1)
print(ser3)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [18]:
#4.	Write a Pandas program to convert a given series to an array.
#Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]
import pandas as pd

ser4 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
array_from_series = ser4.to_numpy()
print("Array from Series:\n", array_from_series)

Array from Series:
 ['Love' 800 'Joy' 789.9 'Peace' True]

In [19]:
#5.	Write a Pandas program to display the most frequent value in the given series and replace everything else as ‘Other’ in the series. (Use the ‘HomeTeamGoals’ column in the dataset provided)
import pandas as pd
# Sample data
data = {'HomeTeamGoals': [1, 2, 2, 3, 1, 2, 4, 1, 2, 3]}
df = pd.DataFrame(data)
most_frequent = df['HomeTeamGoals'].mode()[0]
df['HomeTeamGoals'] = df['HomeTeamGoals'].apply(lambda x: x if x == most_frequent else 'Other')
print(df)

  HomeTeamGoals
0         Other
1             2
2             2
3         Other
4         Other
5             2
6         Other
7         Other
8             2
9         Other