In [1]:
import pandas as pd
import numpy as np

In [25]:
# Load the dataset

print(""*60)
print("AFRICA CUP OF NATIONS MATCHES DATA ANALYSIS")
print(""*60)

AFRICA CUP OF NATIONS MATCHES DATA ANALYSIS

In [5]:
import pandas as pd

# 1. Read the CSV file
print("\n Reading the CSV file...")
df = pd.read_csv('AfricaCupofNationsMatches.csv')  # Using the provided file
print("✓ Dataset loaded successfully!")

 Reading the CSV file...
✓ Dataset loaded successfully!

In [6]:
# 2. Get the first 7 rows
print("\n First 7 rows of the dataset:")
print(""*50)
print(df.head(7))

 First 7 rows of the dataset:

   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0
3  1959  22-May-59   NaN      Egypt       Ethiopia            4.0
4  1959  25-May-59   NaN     Sudan        Ethiopia            1.0
5  1959  29-May-59   NaN      Egypt          Sudan            2.0
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia            4.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [49]:
# 3. Select specific columns
print("\n Selecting 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals' columns:")
print(""*70)
selected_cols = df[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']]
print(selected_cols.head(10))

 Selecting 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals' columns:

    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0     Sudan           Egypt            1.0            2.0
1  Ethiopia    South Africa            NaN            NaN
2     Egypt        Ethiopia            4.0            0.0
3      Egypt       Ethiopia            4.0            0.0
4     Sudan        Ethiopia            1.0            0.0
5      Egypt          Sudan            2.0            1.0
6  Ethiopia         Tunisia            4.0            2.0
7      Egypt         Uganda            2.0            1.0
8   Tunisia          Uganda            3.0            0.0
9  Ethiopia           Egypt            4.0            2.0

In [50]:

# 4. Select rows where Egypt appears (in either HomeTeam or AwayTeam)
print("\n Rows where Egypt appears:")
print(""*40)
egypt_matches = df[(df['HomeTeam'].str.contains('Egypt', na=False)) | 
                   (df['AwayTeam'].str.contains('Egypt', na=False))]
print(f"Found {len(egypt_matches)} matches involving Egypt")
print(egypt_matches[['Date ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']].head())

 Rows where Egypt appears:

Found 95 matches involving Egypt
       Date  HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals
0  10-Feb-57   Sudan       Egypt            1.0            2.0
2  16-Feb-57   Egypt    Ethiopia            4.0            0.0
3  22-May-59    Egypt   Ethiopia            4.0            0.0
5  29-May-59    Egypt      Sudan            2.0            1.0
7  18-Jan-62    Egypt     Uganda            2.0            1.0

In [51]:
# 5. Count rows and columns
print("\n Dataset dimensions:")
print(""*25)
rows, cols = df.shape
print(f"Number of rows: {rows}")
print(f"Number of columns: {cols}")

 Dataset dimensions:

Number of rows: 622
Number of columns: 12

In [52]:
# 6. Select rows where 'Attendance' is missing
print("\n Rows with missing attendance:")
print(""*35)
missing_attendance = df[df['Attendance'].isna()]
print(f"Found {len(missing_attendance)} rows with missing attendance")
print(missing_attendance[['Date ', 'HomeTeam', 'AwayTeam', 'Stadium', 'Attendance']].head())

 Rows with missing attendance:

Found 100 rows with missing attendance
        Date    HomeTeam       AwayTeam                 Stadium  Attendance
1   10-Feb-57  Ethiopia    South Africa                     NaN         NaN
8   20-Jan-62   Tunisia          Uganda  Hailé Sélassié Stadium         NaN
9   21-Jan-62  Ethiopia           Egypt  Hailé Sélassié Stadium         NaN
10  24-Nov-63     Ghana         Tunisia    Accra Sports Stadium         NaN
11  26-Nov-63     Ghana        Ethiopia    Accra Sports Stadium         NaN

In [53]:
# 7. Select rows where HomeTeamGoals are between 3 and 6 (inclusive)
print("\n Rows where HomeTeamGoals are between 3 and 6:")
print(""*50)
goals_3_to_6 = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]
print(f"Found {len(goals_3_to_6)} matches")
print(goals_3_to_6[['Date ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']].head())

 Rows where HomeTeamGoals are between 3 and 6:

Found 138 matches
       Date    HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals
2  16-Feb-57     Egypt    Ethiopia            4.0            0.0
3  22-May-59      Egypt   Ethiopia            4.0            0.0
6  14-Jan-62  Ethiopia     Tunisia            4.0            2.0
8  20-Jan-62   Tunisia      Uganda            3.0            0.0
9  21-Jan-62  Ethiopia       Egypt            4.0            2.0

In [54]:
# 8. Change AwayTeamGoals in 3rd row to 10
print("\n Changing AwayTeamGoals in 3rd row to 10:")
print(""*45)
print("Before change:")
print(df.iloc[2][['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']])
df_modified = df.copy()  # Create a copy to avoid modifying original
df_modified.loc[2, 'AwayTeamGoals'] = 10
print("After change:")
print(df_modified.iloc[2][['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']])

 Changing AwayTeamGoals in 3rd row to 10:

Before change:
HomeTeam            Egypt
AwayTeam          Ethiopia
HomeTeamGoals          4.0
AwayTeamGoals          0.0
Name: 2, dtype: object
After change:
HomeTeam            Egypt
AwayTeam          Ethiopia
HomeTeamGoals          4.0
AwayTeamGoals         10.0
Name: 2, dtype: object

In [55]:
# 9. Sort DataFrame by HomeTeam (ascending) then by HomeTeamGoals (descending)
# Note: The requirement mentions 'HomeTeamScores' but the column is 'HomeTeamGoals'
print("\n Sorting by HomeTeam (asc) then HomeTeamGoals (desc):")
print(""*55)
df_sorted = df.sort_values(['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
print(df_sorted[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']].head(10))

 Sorting by HomeTeam (asc) then HomeTeamGoals (desc):

     HomeTeam      AwayTeam  HomeTeamGoals  AwayTeamGoals
205  Algeria        Nigeria            5.0            1.0
29   Algeria         Uganda            4.0            0.0
135  Algeria         Guinea            3.0            2.0
164  Algeria         Malawi            3.0            0.0
171  Algeria          Egypt            3.0            1.0
208  Algeria    Ivory Coast            3.0            0.0
331  Algeria          Gabon            3.0            1.0
611  Algeria         Guinea            3.0            0.0
138  Algeria          Egypt            2.0            2.0
150  Algeria        Nigeria            2.0            1.0

In [56]:
# 10. Get list of column headers
print("\n List of DataFrame column headers:")
print(""*40)
column_list = df.columns.tolist()
print(column_list)

 List of DataFrame column headers:

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [57]:
# 11. Append a column of choice
print("\n Adding a new column 'TotalGoals':")
print(""*40)
df_with_new_col = df.copy()
df_with_new_col['TotalGoals'] = df_with_new_col['HomeTeamGoals'].fillna(0) + df_with_new_col['AwayTeamGoals'].fillna(0)
print("New column added successfully!")
print(df_with_new_col[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'TotalGoals']].head())

 Adding a new column 'TotalGoals':

New column added successfully!
    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals  TotalGoals
0     Sudan           Egypt            1.0            2.0         3.0
1  Ethiopia    South Africa            NaN            NaN         0.0
2     Egypt        Ethiopia            4.0            0.0         4.0
3      Egypt       Ethiopia            4.0            0.0         4.0
4     Sudan        Ethiopia            1.0            0.0         1.0

In [59]:
# 12. Add 2 rows to DataFrame
print("\n Adding 2 new rows to DataFrame:")
print(""*40)
new_rows = pd.DataFrame({
    'Year': [2025, 2025],
    'Date ': ['01-Jan-25', '02-Jan-25'],
    'Time ': ['', ''],
    'HomeTeam': ['Nigeria', 'Morocco'],
    'AwayTeam': ['Algeria', 'Tunisia'],
    'HomeTeamGoals': [2, 1],
    'AwayTeamGoals': [1, 3],
    'Stage': ['Group A', 'Group B'],
    'SpecialWinConditions': ['', ''],
    'Stadium': ['Test Stadium', 'Test Stadium 2'],
    'City': ['Lagos', 'Rabat'],
    'Attendance': [50000, 45000]
})

df_with_new_rows = pd.concat([df, new_rows], ignore_index=True)
print(f"Original rows: {len(df)}")
print(f"After adding 2 rows: {len(df_with_new_rows)}")
print("Last 3 rows:")
print(df_with_new_rows.tail(3)[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']])

 Adding 2 new rows to DataFrame:

Original rows: 622
After adding 2 rows: 624
Last 3 rows:
     HomeTeam  AwayTeam  HomeTeamGoals  AwayTeamGoals
621  Senegal    Algeria            0.0            1.0
622   Nigeria   Algeria            2.0            1.0
623   Morocco   Tunisia            1.0            3.0

In [7]:
# 13. Change 'Uganda' to 'China' in AwayTeam column
print("\n Changing 'Uganda' to 'China' in AwayTeam column:")
print(""*50)
df_country_changed = df.copy()
uganda_count_before = (df_country_changed['AwayTeam'] == 'Uganda').sum()
df_country_changed['AwayTeam'] = df_country_changed['AwayTeam'].replace('Uganda', 'China')
china_count_after = (df_country_changed['AwayTeam'] == 'China').sum()
print(f"Changed {uganda_count_before} instances of 'Uganda' to 'China'")
print("Sample rows with China:")
china_matches = df_country_changed[df_country_changed['AwayTeam'] == 'China']
print(china_matches[['HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals']].head())

 Changing 'Uganda' to 'China' in AwayTeam column:

Changed 0 instances of 'Uganda' to 'China'
Sample rows with China:
Empty DataFrame
Columns: [HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals]
Index: []

In [8]:
# 14. Reset index
# Resetting the index of the DataFrame

print("\nResetting DataFrame index:")
print(""*35)
df_reset_index = df.copy()
df_reset_index = df_reset_index.reset_index(drop=True)
print("Index reset successfully!")
print("First few rows with new index:")
print(df_reset_index.head(3))

Resetting DataFrame index:

Index reset successfully!
First few rows with new index:
   Year      Date  Time    HomeTeam       AwayTeam  HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt            1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa            NaN
2  1957  16-Feb-57   NaN     Egypt        Ethiopia            4.0

   AwayTeamGoals       Stage  \
0            2.0  Semifinals
1            NaN  Semifinals
2            0.0       Final

                                SpecialWinConditions            Stadium  \
0                                                NaN  Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                NaN
2                                                NaN  Municipal Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0

In [10]:
# 15. Check if 'Stadium' column is present
# Check if 'Stadium' column exists and print its info
print("\n Checking if 'Stadium' column exists:")
print(""*40)
if 'df' in globals():
    stadium_exists = 'Stadium' in df.columns
    print(f"'Stadium' column exists: {stadium_exists}")
    if stadium_exists:
        print("Stadium column info:")
        print(f"  Non-null values: {df['Stadium'].notna().sum()}")
        print(f"  Null values: {df['Stadium'].isna().sum()}")
else:
    print("DataFrame 'df' is not defined. Please run the cell that loads the dataset first.")

 Checking if 'Stadium' column exists:

'Stadium' column exists: True
Stadium column info:
  Non-null values: 618
  Null values: 4

In [40]:
# 16. Convert AwayTeamGoals datatype from int to float
print("\n. Converting AwayTeamGoals from int to float:")
print(""*50)
df_converted = df.copy()
print(f"Original dtype: {df_converted['AwayTeamGoals'].dtype}")
df_converted['AwayTeamGoals'] = df_converted['AwayTeamGoals'].astype(float)
print(f"New dtype: {df_converted['AwayTeamGoals'].dtype}")

. Converting AwayTeamGoals from int to float:

Original dtype: float64
New dtype: float64

In [15]:
# 17. Remove last 10 rows
# Removing the last 10 rows from the DataFrame

print("Removing last 10 rows from DataFrame:")
print(""*45)
df_trimmed = df.copy()
original_length = len(df_trimmed)
df_trimmed = df_trimmed.iloc[:-10]
new_length = len(df_trimmed)
print(f"Original length: {original_length}")
print(f"After removing 10 rows: {new_length}")
print(f"Rows removed: {original_length - new_length}")

Removing last 10 rows from DataFrame:

Original length: 622
After removing 10 rows: 612
Rows removed: 10

In [17]:
#access the last 10 and drop them
print("Last 10 rows before removal:")
print(df.tail(10))
df = df.iloc[:-10]
print("Last 10 rows after removal:")
print(df.tail(10))

Last 10 rows before removal:
     Year                      Date   Time       HomeTeam       AwayTeam  \
612  2019   8 July 2019 (2019-07-08)  18:00         Mali     Ivory Coast
613  2019   8 July 2019 (2019-07-08)  21:00        Ghana         Tunisia
614  2019  10 July 2019 (2019-07-10)  18:00      Senegal           Benin
615  2019  10 July 2019 (2019-07-10)  21:00      Nigeria    South Africa
616  2019  11 July 2019 (2019-07-11)  18:00  Ivory Coast         Algeria
617  2019  11 July 2019 (2019-07-11)  21:00   Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00      Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00      Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00      Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00      Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
612            0.0            1.0           Round of 16
613            1.0            1.0           Round of 16
614            1.0            0.0        Quarter-finals
615            2.0            1.0        Quarter-finals
616            1.0            1.0        Quarter-finals
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

               SpecialWinConditions                      Stadium       City  \
612                             NaN                 Suez Stadium       Suez
613   Tunisia win on Penalities 4-5             Ismailia Stadium   Ismailia
614                             NaN              30 June Stadium      Cairo
615                             NaN  Cairo International Stadium      Cairo
616   Algeria win on Penalities 3-4                 Suez Stadium       Suez
617                             NaN             Al Salam Stadium      Cairo
618           win after extra time               30 June Stadium      Cairo
619                             NaN  Cairo International Stadium      Cairo
620                             NaN             Al Salam Stadium      Cairo
621                             NaN  Cairo International Stadium      Cairo

     Attendance
612      7672.0
613      8890.0
614      5798.0
615     48343.0
616      8233.0
617      7568.0
618      9143.0
619     49775.0
620      6340.0
621     75000.0
Last 10 rows after removal:
     Year                      Date   Time         HomeTeam        AwayTeam  \
602  2019  29 June 2019 (2019-06-29)  19:00       Cameroon            Ghana
603  2019  29 June 2019 (2019-06-29)  22:00          Benin    Guinea-Bissau
604  2019   2 July 2019 (2019-07-02)  18:00          Benin         Cameroon
605  2019   2 July 2019 (2019-07-02)  18:00  Guinea-Bissau            Ghana
606  2019   5 July 2019 (2019-07-05)  18:00        Morocco            Benin
607  2019   5 July 2019 (2019-07-05)  21:00         Uganda          Senegal
608  2019   6 July 2019 (2019-07-06)  18:00        Nigeria         Cameroon
609  2019   6 July 2019 (2019-07-06)  21:00          Egypt     South Africa
610  2019   7 July 2019 (2019-07-07)  18:00     Madagascar         DR Congo
611  2019   7 July 2019 (2019-07-07)  21:00        Algeria           Guinea

     HomeTeamGoals  AwayTeamGoals        Stage  \
602            0.0            0.0      Group F
603            0.0            0.0      Group F
604            0.0            0.0      Group F
605            0.0            2.0      Group F
606            1.0            1.0  Round of 16
607            0.0            1.0  Round of 16
608            3.0            2.0  Round of 16
609            0.0            1.0  Round of 16
610            2.0            2.0  Round of 16
611            3.0            0.0  Round of 16

                  SpecialWinConditions                      Stadium  \
602                                NaN             Ismailia Stadium
603                                NaN             Ismailia Stadium
604                                NaN             Ismailia Stadium
605                                NaN                 Suez Stadium
606        Benin win on Penalities 1-4             Al Salam Stadium
607                                NaN  Cairo International Stadium
608                                NaN           Alexandria Stadium
609                                NaN  Cairo International Stadium
610  Madagascar  win on Penalities 4-2           Alexandria Stadium
611                                NaN              30 June Stadium

            City  Attendance
602     Ismailia     16724.0
603     Ismailia      9212.0
604     Ismailia     14120.0
605         Suez      6905.0
606        Cairo      7500.0
607        Cairo      6950.0
608   Alexandria     10000.0
609        Cairo     75000.0
610   Alexandria      5890.0
611        Cairo      8205.0

In [16]:
# 18. Iterate over rows
# Iterating over the first 5 rows and printing HomeTeam vs AwayTeam with scores
print("\n Iterating over first 5 rows (sample):")
print(""*45)
for index, row in df.head(5).iterrows():
    print(f"Row {index}: {row['HomeTeam']} vs {row['AwayTeam']} ({row['HomeTeamGoals']}-{row['AwayTeamGoals']})")

 Iterating over first 5 rows (sample):

Row 0: Sudan  vs  Egypt (1.0-2.0)
Row 1: Ethiopia  vs  South Africa (nan-nan)
Row 2: Egypt  vs  Ethiopia (4.0-0.0)
Row 3: Egypt vs  Ethiopia (4.0-0.0)
Row 4: Sudan  vs  Ethiopia (1.0-0.0)

In [43]:
# 19. Change column order
print("\n. Changing DataFrame column order:")
print(""*40)
# Define new column order
new_column_order = ['Year', 'Date ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 
                   'Stage', 'Stadium', 'City', 'Attendance', 'Time ', 'SpecialWinConditions']
df_reordered = df[new_column_order]
print("New column order:")
print(df_reordered.columns.tolist())
print("Sample data with new order:")
print(df_reordered.head(3))

. Changing DataFrame column order:

New column order:
['Year', 'Date ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'Stadium', 'City', 'Attendance', 'Time ', 'SpecialWinConditions']
Sample data with new order:
   Year      Date    HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals  \
0  1957  10-Feb-57     Sudan           Egypt            1.0            2.0
1  1957  10-Feb-57  Ethiopia    South Africa            NaN            NaN
2  1957  16-Feb-57     Egypt        Ethiopia            4.0            0.0

        Stage            Stadium       City  Attendance Time   \
0  Semifinals  Municipal Stadium   Khartoum     30000.0   NaN
1  Semifinals                NaN        NaN         NaN   NaN
2       Final  Municipal Stadium   Khartoum     30000.0   NaN

                                SpecialWinConditions
0                                                NaN
1  Ethiopia  wins due to disqualification of othe...
2                                                NaN

In [ ]:
# 20. Delete rows where HomeTeamGoals is 0
# Deleting rows where HomeTeamGoals is 0
print("\n Deleting rows where HomeTeamGoals is 0:")
print(""*45)
df_no_zero_goals = df.copy()
zero_goals_count = (df_no_zero_goals['HomeTeamGoals'] == 0).sum()
df_no_zero_goals = df_no_zero_goals[df_no_zero_goals['HomeTeamGoals'] != 0]
print(f"Rows with HomeTeamGoals = 0: {zero_goals_count}")
print(f"Original DataFrame length: {len(df)}")
print(f"After removing zero-goal rows: {len(df_no_zero_goals)}")
print(f"Rows deleted: {len(df) - len(df_no_zero_goals)}")

print("\n" + ""*60)
print("ANALYSIS COMPLETE!")
print(""*60)

# Additional summary statistics
print("\n BONUS: Dataset Summary Statistics")
print(""*40)
print(f"Total matches in dataset: {len(df)}")
print(f"Years covered: {df['Year'].min()} - {df['Year'].max()}")
print(f"Unique teams (Home): {df['HomeTeam'].nunique()}")
print(f"Unique teams (Away): {df['AwayTeam'].nunique()}")
print(f"Average goals per match: {(df['HomeTeamGoals'].fillna(0) + df['AwayTeamGoals'].fillna(0)).mean():.2f}")
print(f"Highest scoring match: {(df['HomeTeamGoals'].fillna(0) + df['AwayTeamGoals'].fillna(0)).max()} goals")

# Most frequent teams
print(f"\nMost active teams (as home team):")
print(df['HomeTeam'].value_counts().head(5))

 Deleting rows where HomeTeamGoals is 0:

Rows with HomeTeamGoals = 0: 128
Original DataFrame length: 622
After removing zero-goal rows: 494
Rows deleted: 128


ANALYSIS COMPLETE!


 BONUS: Dataset Summary Statistics

Total matches in dataset: 622
Years covered: 1957 - 2019
Unique teams (Home): 41
Unique teams (Away): 46
Average goals per match: 2.45
Highest scoring match: 12.0 goals

Most active teams (as home team):
HomeTeam
Ghana           58
Cameroon        55
Nigeria         54
Egypt           50
Ivory Coast     46
Name: count, dtype: int64