In [1]:
import pandas as pd
import numpy as np

# Load the dataset
df_sales = pd.read_csv('Sales.csv')

In [7]:
df_sales

,Order ID,Customer Name,Order Date,Product,Quantity,Unit Price,Total Revenue
0,1001,John Doe,2024-01-01,Widget A,10.0,25.0,250.0
1,1002,Jane Smith,2024-01-02,Widget B,5.0,40.0,200.0
2,1003,Unknown,NaT,Widget A,5.0,25.0,125.0
3,1004,Alice Johnson,2024-04-01,Widget C,3.0,70.0,210.0
4,1005,Bob Brown,NaT,Widget B,10.0,40.0,400.0
5,1006,John Doe,2024-06-01,Widget A,4.0,25.0,100.0
7,1007,Jane Smith,2024-07-01,Widget C,6.0,70.0,420.0

In [2]:
# 1. Handle missing values

# Fill missing 'Customer Name' with "Unknown"
if 'Customer Name' in df_sales.columns:
    df_sales['Customer Name'] = df_sales['Customer Name'].fillna('Unknown')

# Fill missing 'Quantity' with median
if 'Quantity' in df_sales.columns:
    df_sales['Quantity'] = df_sales['Quantity'].fillna(df_sales['Quantity'].median())

# Calculate missing 'Unit Price' where 'Total Revenue' and 'Quantity' are present and valid
if {'Unit Price', 'Total Revenue', 'Quantity'}.issubset(df_sales.columns):
    mask = (df_sales['Unit Price'].isna()) & (df_sales['Total Revenue'].notna()) & (df_sales['Quantity'] > 0)
    df_sales.loc[mask, 'Unit Price'] = df_sales.loc[mask, 'Total Revenue'] / df_sales.loc[mask, 'Quantity']

    # Fill remaining missing 'Unit Price' with median per Product
    df_sales['Unit Price'] = df_sales.groupby('Product')['Unit Price'].transform(lambda x: x.fillna(x.median()))

# Calculate missing 'Total Revenue' where possible
if {'Total Revenue', 'Unit Price', 'Quantity'}.issubset(df_sales.columns):
    mask = (df_sales['Total Revenue'].isna()) & (df_sales['Unit Price'].notna()) & (df_sales['Quantity'].notna())
    df_sales.loc[mask, 'Total Revenue'] = df_sales.loc[mask, 'Unit Price'] * df_sales.loc[mask, 'Quantity']

In [3]:
# 2. Fix inconsistent date formats
if 'Order Date' in df_sales.columns:
    df_sales['Order Date'] = df_sales['Order Date'].astype(str).str.replace("'", "", regex=False)
    df_sales['Order Date'] = pd.to_datetime(df_sales['Order Date'], errors='coerce')

In [4]:

# 3. Remove duplicate rows
df_sales = df_sales.drop_duplicates()

In [5]:

# 4. Fix wrong data
# Convert negative 'Quantity' and 'Total Revenue' to positive values
if 'Quantity' in df_sales.columns:
    df_sales['Quantity'] = df_sales['Quantity'].apply(lambda x: abs(x) if x < 0 else x)

if 'Total Revenue' in df_sales.columns:
    df_sales['Total Revenue'] = df_sales['Total Revenue'].apply(lambda x: abs(x) if x < 0 else x)

In [8]:


# 5. No unnecessary columns found â€” skipping column drop

# Save cleaned dataset
df_sales.to_csv('Sales_cleaned.csv', index=False)

# Confirmation message
print(" Sales data cleaned and saved to 'Sales_cleaned.csv'")

 Sales data cleaned and saved to 'Sales_cleaned.csv'